{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}



{% block body %}

<div id="categoryCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active cntr">
      <img src="{{ asset('necklaces.jpg') }}" class="d-block w-100 image" alt="Colliers">
      <div class="carousel-caption d-none d-md-block middle">
            <a class="link" href="{{ path('category_show', {id: 1}) }}">Colliers</a>
      </div>
    </div>
    <div class="carousel-item cntr">
      <img src="{{ asset('earings.jpeg') }}" class="d-block w-100 image" alt="Boucles d'oreilles">
        <div class="carousel-caption d-none d-md-block middle">
            <a class="link" href="{{ path('category_show', {id: 2}) }}">Boucles d'oreilles</a>
        </div>
    </div>
    <div class="carousel-item cntr">
      <img src="{{ asset('rings.jpg') }}" class="d-block w-100 image" alt="Bagues">
        <div class="carousel-caption d-none d-md-block middle">
            <a class="link" href="{{ path('category_show', {id: 3}) }}">Bagues</a>
        </div>
    </div>
    <div class="carousel-item cntr">
      <img src="{{ asset('bracelets.jpg') }}" class="d-block w-100 image" alt="Bracelets">
        <div class="carousel-caption d-none d-md-block middle">
        <a class="link" href="{{ path('category_show', {id: 4}) }}">Bracelets</a>
        </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#categoryCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#categoryCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock %}
