{{ form_start(form) }}

<form class="row gy-2 gx-3 align-items-center">
  <div class="col-auto mb-3">
    <label for="formName" class="form-label">Pseudo</label>
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="col-auto mb-3">
    <label for="formEmail" class="form-label">Adresse email</label>
    {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="col-auto mb-3">
    <label for="formPassword" class="form-label">Mot de passe</label>
    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="col-auto mb-3">
    <label for="formAddress" class="form-label">Adresse postale</label>
    {{ form_widget(form.address, {'attr': {'class': 'form-control', 'placeholder': '1 Rue de lexemple 12345'}}) }}
  </div>

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-secondary btn-lg">S'inscrire</button>
  </div>

</form>
{{ form_end(form) }}
